body{
	font-family: 'Noto Sans TC', sans-serif !important;
}

nav ul a,
nav .brand-logo {
  color: #444;
  width: 7.7rem;	
}

.logo{
	width: 18.75rem;
	display : inline;
}

#title{
	display : inline;
}

.chip-two{
	background-color: #a67a44;
} 

.chip-one{
	background-color: #dfdfdf;
} 

.card-stacked{
	background-color: #3696df;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

#title_2{
	background-color: rgb(166, 122, 68);
}

.icon-block img{
	width: 9.375rem;
}

.icon-block .material-icons {
  font-size: inherit;
}

#header{
	margin-top: 3.125rem;
}

#about_us{
	background-image:;
	margin-top: 3.125rem;
}

article{
	font-size: 1.20rem;
}

#introduction{
	margin-top: 6.25rem;
}

#welfare{
	margin-top: 6.25rem;
}


#menber{
	margin-top: 6.25rem;
}

footer.page-footer {
  margin: 0;
}